<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Welcome to Aurora ComKit - the ultimate collection of user interface components and design resources for developers and designers. Explore our library of customizable components, templates, and tools to build beautiful, responsive websites and web applications.">
        <meta name="keywords" content="aurora comkit, website design, web development, tailwindcss, components, user experience">
        <meta name="author" content="Lewis Ushindi">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Button-Aurora ComKit</title>
        <link rel="shortcut icon" href="https://i.pinimg.com/474x/ea/a8/b1/eaa8b1a091b211a141bbefe0e054f42b.jpg" type="image/x-icon">
        <link rel="stylesheet" href="./css/app.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="/dist/output.css" rel="stylesheet">
    </head> 
<body>
    <section>
        <nav class="bg-gray-800 p-4">
            <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 flex justify-between items-center">
                <div class="relative flex items-center justify-between w-full">
                    <div class="flex-1 w-full flex items-center justify-between sm:items-stretch sm:justify-start">                    
                        <div class="flex justify-center align-middle items-center">
                            <a href="../index.html" class="flex-shrink-0 text-white font-bold text-xl">
                                𝐴𝑢𝑟𝑜𝑟𝑎 𝐶𝑜𝑚𝐾𝑖𝑡
                            </a>
                        </div>                    
                    </div>                
                </div>
                <div class="bg-gray-900 text-white py-2 px-4 rounded-lg shadow-md">
                    <a href="../components.html" class="font-medium hover:text-gray-300 text-2xl">🡰</a>
                </div>
            </div>        
        </nav>
        
        <div class="bg-white p-4 rounded-lg shadow-xl">            
            <div onclick="copyCode('#code-1')" class="flex flex-col md:flex-row">              
              <div id="code-1" class="w-full bg-gray-100 p-4 rounded-lg text-gray-800">                 
                    <div class="container my-4 px-6 mx-auto">                
                        <section class="mb-32 text-gray-800 text-center lg:text-left">
                            <div class="grid lg:grid-cols-2 gap-6 xl:gap-12 items-center">
                                <div class="mb-6 lg:mb-0">
                                <h2 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight">
                                    Are you ready <br />
                                    <span class="text-blue-600">for an adventure?</span>
                                </h2>
                                </div>
                                <div class="mb-6 lg:mb-0">
                                <p class="uppercase text-blue-600 font-bold mb-4">Learn more</p>
                                <p class="text-gray-500 text-lg">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima officia consequatur
                                    adipisci tenetur repudiandae rerum quos.
                                </p>
                                </div>
                            </div>
                        </section> 
                    </div>
              </div>
            </div>
        </div>

        <div class="bg-white p-4 rounded-lg shadow-xl">            
            <div onclick="copyCode('#code-2')" class="flex flex-col md:flex-row">              
              <div id="code-2" class="w-full bg-gray-100 p-4 rounded-lg text-gray-800">                 
                    <div class="container my-4 px-6 mx-auto">                
                        <section class="mb-32 text-gray-800 text-center lg:text-left">
                            <div class="grid lg:grid-cols-2 gap-6 xl:gap-12 items-center">
                                <div class="mb-6 lg:mb-0">
                                <h2 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight">
                                    Are you ready <br />
                                    <span class="text-blue-600">for an adventure?</span>
                                </h2>
                                </div>
                                <div class="mb-6 lg:mb-0">
                                <p class="uppercase text-blue-600 font-bold mb-4">Learn more</p>
                                <p class="text-gray-500 text-lg">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima officia consequatur
                                    adipisci tenetur repudiandae rerum quos.
                                </p>
                                </div>
                            </div>
                        </section> 
                    </div>
              </div>
            </div>
        </div>

        <div class="bg-white p-4 rounded-lg shadow-xl">            
            <div onclick="copyCode('#code-3')" class="flex flex-col md:flex-row">              
              <div id="code-3" class="w-full bg-gray-100 p-4 rounded-lg text-gray-800">                 
                    <div class="container my-4 px-6 mx-auto">                
                        <section class="mb-32 text-gray-800 text-center lg:text-left">
                            <div class="grid lg:grid-cols-2 gap-6 xl:gap-12 items-center">
                                <div class="mb-6 lg:mb-0">
                                <h2 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight">
                                    Are you ready <br />
                                    <span class="text-blue-600">for an adventure?</span>
                                </h2>
                                </div>
                                <div class="mb-6 lg:mb-0">
                                <p class="uppercase text-blue-600 font-bold mb-4">Learn more</p>
                                <p class="text-gray-500 text-lg">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima officia consequatur
                                    adipisci tenetur repudiandae rerum quos.
                                </p>
                                </div>
                            </div>
                        </section> 
                    </div>
              </div>
            </div>
        </div>

    </section>
    
    <script src="../js/app.js"></script>
</body>
</html>