<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Welcome to Aurora ComKit - the ultimate collection of user interface components and design resources for developers and designers. Explore our library of customizable components, templates, and tools to build beautiful, responsive websites and web applications.">
        <meta name="keywords" content="aurora comkit, website design, web development, tailwindcss, components, user experience">
        <meta name="author" content="Lewis Ushindi">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form-Aurora ComKit</title>
        <link rel="shortcut icon" href="https://i.pinimg.com/474x/ea/a8/b1/eaa8b1a091b211a141bbefe0e054f42b.jpg" type="image/x-icon">
        <link rel="stylesheet" href="./css/app.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="/dist/output.css" rel="stylesheet">
    </head> 
<body>
    <section>
        <nav class="bg-gray-800 p-4">
            <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 flex justify-between items-center">
                <div class="relative flex items-center justify-between w-full">
                    <div class="flex-1 w-full flex items-center justify-between sm:items-stretch sm:justify-start">                    
                        <div class="flex justify-center align-middle items-center">
                            <a href=""  class="flex-shrink-0 text-white font-bold text-2xl">
                              𝐴𝑢𝑟𝑜𝑟𝑎 𝐶𝑜𝑚𝐾𝑖𝑡
                            </a>
                        </div>                    
                    </div>                
                </div>
                <div class="bg-gray-900 text-white py-2 px-4 rounded-lg shadow-md">
                    <a href="../components.html" class="font-medium hover:text-gray-300 text-2xl">🡰</a>
                </div>
            </div>        
        </nav>

        <h1 class="text-4xl text-center uppercase my-4">Form Blocks</h1>
        
        <div class="bg-white p-4 rounded-lg shadow-xl">
            <!-- copy to clipboard -->
            <div class="flex justify-end bg-gray-800 p-3 hover:bg-gray-700 hover:text-white transition-colors duration-300">
                <button id="copy-btn" onclick="copyCode('#code-1')" class="bg-slate-600 text-white hover:bg-slate-900 transition-colors duration-300 px-3 py-2 rounded-md flex items-center">
                  <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9l-5-5-5 5M17 9l0 13-12 0 0-13M7 15l5 5 5-5"></path>
                  </svg>
                  Copy Code
                </button>
            </div>  

            <div class="flex flex-col md:flex-row">              
              <div id="code-1" class="w-full bg-gray-100 p-4 rounded-lg text-gray-800">                 
                    <div class="container my-4 px-6 mx-auto">                
                        <section class="mb-3 text-gray-800 text-center lg:text-left">
                          
                            <form action="" method="post" class="bg-white shadow-md rounded-lg p-8 max-w-md mx-auto">
                                <div class="flex justify-center mb-6">
                                  <div class="rounded-full overflow-hidden w-32 h-32">
                                    <img src="https://i.pinimg.com/474x/fb/c2/fd/fbc2fd7a937e6a5c1a0ed18ebfac9f0c.jpg" alt="Avatar" class="w-full h-full object-cover">
                                  </div>
                                </div>
                                <div class="mb-4">
                                  <label for="uname" class="block text-gray-700 font-bold mb-2"><b>Username</b></label>
                                  <input type="text" placeholder="Enter Username" name="uname" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                </div>
                                <div class="mb-6">
                                  <label for="psw" class="block text-gray-700 font-bold mb-2"><b>Password</b></label>
                                  <input type="password" placeholder="Enter Password" name="psw" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
                                </div>
                                <div class="mb-6">
                                  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">
                                    Login
                                  </button>
                                  <div class="flex items-center mt-3">
                                    <input type="checkbox" checked="checked" name="remember" class="form-checkbox h-4 w-4 text-blue-500"><span class="ml-2 text-gray-700">Remember me</span>
                                  </div>
                                </div>
                                <div class="flex items-center justify-between">
                                  <div class="container text-center">                                    
                                    <span class="psw ml-3">Forgot <a href="#" class="text-blue-500 hover:text-blue-800">password?</a></span>
                                  </div>
                                </div>
                              </form>
                        </section> 
                    </div>
              </div>
            </div>
        </div>

        <div class="bg-white p-4 rounded-lg shadow-xl">
            <!-- copy to clipboard -->
            <div class="flex justify-end bg-gray-800 p-3 hover:bg-gray-700 hover:text-white transition-colors duration-300">
                <button id="copy-btn" onclick="copyCode('#code-2')" class="bg-slate-600 text-white hover:bg-slate-900 transition-colors duration-300 px-3 py-2 rounded-md flex items-center">
                  <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9l-5-5-5 5M17 9l0 13-12 0 0-13M7 15l5 5 5-5"></path>
                  </svg>
                  Copy Code
                </button>
            </div>   

            <div  class="flex flex-col md:flex-row">              
              <div id="code-2" class="w-full bg-gray-100 p-4 rounded-lg text-gray-800">                 
                    <div class="container my-4 px-6 mx-auto">                
                        <section class="mb-3 text-gray-800 text-center lg:text-left">
                            <form action="" class="bg-white border rounded-lg shadow-md p-8 max-w-md mx-auto">
                                <div class="mb-6">
                                  <h1 class="text-2xl font-bold">Sign Up</h1>
                                  <p class="text-gray-500">Please fill in this form to create an account.</p>
                                </div>
                                <hr class="mb-6">
                              
                                <div class="mb-6">
                                  <label for="email" class="block font-medium mb-2">Email</label>
                                  <input type="text" placeholder="Enter Email" name="email" required class="border rounded-lg px-3 py-2 w-full">
                                </div>
                              
                                <div class="mb-6">
                                  <label for="psw" class="block font-medium mb-2">Password</label>
                                  <input type="password" placeholder="Enter Password" name="psw" required class="border rounded-lg px-3 py-2 w-full">
                                </div>
                              
                                <div class="mb-6">
                                  <label for="psw-repeat" class="block font-medium mb-2">Repeat Password</label>
                                  <input type="password" placeholder="Repeat Password" name="psw-repeat" required class="border rounded-lg px-3 py-2 w-full">
                                </div>
                              
                                <div class="mb-6">
                                  <label class="flex items-center">
                                    <input type="checkbox" checked="checked" name="remember" class="mr-2">
                                    <span class="text-gray-500">Remember me</span>
                                  </label>
                                </div>
                              
                                <div class="mb-6">
                                  <p class="text-gray-500">By creating an account you agree to our <a href="#" class="text-blue-500">Terms &amp; Privacy</a>.</p>
                                </div>
                              
                                <div class="flex justify-between items-center">                                  
                                  <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg">Sign Up</button>
                                </div>
                            </form>
                              
                        </section> 
                    </div>
              </div>
            </div>
        </div>

        <div class="bg-white p-4 rounded-lg shadow-xl">
            <!-- copy to clipboard -->
            <div class="flex justify-end bg-gray-800 p-3 hover:bg-gray-700 hover:text-white transition-colors duration-300">
                <button id="copy-btn" onclick="copyCode('#code-3')" class="bg-slate-600 text-white hover:bg-slate-900 transition-colors duration-300 px-3 py-2 rounded-md flex items-center">
                  <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9l-5-5-5 5M17 9l0 13-12 0 0-13M7 15l5 5 5-5"></path>
                  </svg>
                  Copy Code
                </button>
            </div>

            <div class="flex flex-col md:flex-row">              
              <div id="code-3" class="w-full bg-gray-100 p-4 rounded-lg text-gray-800">                 
                    <div class="container my-4 px-6 mx-auto">                
                        <section class="mb-3 text-gray-800 text-center lg:text-left">
                            <form action="action_page.php" class="max-w-md mx-auto">
                                <div class="text-center">
                                    <h2 class="text-xl font-bold">Subscribe to Our Newsletter</h2>
                                    <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>

                                <div class="mt-6 rounded-md shadow-md bg-white p-6">
                                    <div class="mb-4">
                                    <label class="block text-gray-700 font-bold mb-2" for="name">
                                        Name
                                    </label>
                                    <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Enter your name" name="name" required>
                                    </div>

                                    <div class="mb-4">
                                    <label class="block text-gray-700 font-bold mb-2" for="email">
                                        Email address
                                    </label>
                                    <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" placeholder="Enter your email address" name="mail" required>
                                    </div>

                                    <div class="mb-4">
                                    <label class="inline-flex items-center text-gray-700 font-bold">
                                        <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" name="subscribe" checked>
                                        <span class="ml-2">Daily Newsletter</span>
                                    </label>
                                    </div>

                                    <div class="text-center">
                                    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                        Subscribe
                                    </button>
                                    </div>
                                </div>
                            </form>

                        </section> 
                    </div>
              </div>
            </div>
        </div>

        <footer class="bg-neutral-900 text-center text-white">
          <div class="container px-6 pt-6 mx-auto">
            <div class="mb-6 flex justify-center">
        
              <a href="https://twitter.com/coder_flame" type="button"
                class="m-1 h-9 w-9 rounded-full border-2 border-white uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
                data-te-ripple-init data-te-ripple-color="light">
                <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-full w-4" fill="currentColor" viewBox="0 0 24 24">
                  <path
                    d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z" />
                </svg>
              </a>
        
              <a href="https://github.com/lewisushindi/Aurora-ComKit" type="button"
                class="m-1 h-9 w-9 rounded-full border-2 border-white uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
                data-te-ripple-init data-te-ripple-color="light">
                <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-full w-4" fill="currentColor" viewBox="0 0 24 24">
                  <path
                    d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                </svg>
              </a>
            </div>
          </div>
        
          <div class="p-4 text-center" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <a class="text-whitehite" href="https://github.com/lewisushindi/Aurora-ComKit">Aurora ComKit</a>
          </div>
        </footer>

    </section>
    
    <script src="../js/app.js"></script>
</body>
</html>