<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Welcome to Aurora ComKit - the ultimate collection of user interface components and design resources for developers and designers. Explore our library of customizable components, templates, and tools to build beautiful, responsive websites and web applications.">
        <meta name="keywords" content="aurora comkit, website design, web development, tailwindcss, components, user experience">
        <meta name="author" content="Lewis Ushindi">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hero-Aurora ComKit</title>
        <link rel="shortcut icon" href="https://i.pinimg.com/474x/ea/a8/b1/eaa8b1a091b211a141bbefe0e054f42b.jpg" type="image/x-icon">
        <link rel="stylesheet" href="./css/app.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="/dist/output.css" rel="stylesheet">
    </head> 
<body>
    <section>
        <nav class="bg-gray-800 p-4">
            <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 flex justify-between items-center">
                <div class="relative flex items-center justify-between w-full">
                    <div class="flex-1 w-full flex items-center justify-between sm:items-stretch sm:justify-start">                    
                        <div class="flex justify-center align-middle items-center">
                            <a href="../index.html" class="flex-shrink-0 text-white font-bold text-xl">
                                𝐴𝑢𝑟𝑜𝑟𝑎 𝐶𝑜𝑚𝐾𝑖𝑡
                            </a>
                        </div>                    
                    </div>                
                </div>
                <div class="bg-gray-900 text-white py-2 px-4 rounded-lg shadow-md">
                    <a href="../components.html" class="font-medium hover:text-gray-300 text-2xl">🡰</a>
                </div>
            </div>        
        </nav>
        
        <div class="bg-white px-4 py-5 sm:px-6">
            <div class="flex items-center justify-between">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Hero Option 1
                </h3>
                <button onclick="copyCode('#code-1')" class="bg-gray-200 hover:bg-gray-300 px-3 py-1 rounded-lg text-gray-800">
                    Copy Code
                </button>
            </div>
            <div class="flex flex-col w-full justify-between md:flex-row ">
                <div class="w-3/4">
                    <img src="../img/aurora-hero-1.png" alt="" srcset="">
                </div>
                <div id="code-1" class="mt-2 w-full bg-gray-100 p-2 rounded-lg text-gray-800">
                    <div class="container my-24 px-6 mx-auto">
                        &lt;section class="mb-32 text-gray-800 text-center"&gt;
                        <br />
                        &nbsp;&nbsp;&lt;div class="flex justify-center"&gt; 
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="max-w-[800px]"&gt; 
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;h2 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12"&gt; 
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Are you ready &lt;br /&gt;
                        &lt;span class="text-blue-600"&gt;for an adventure?&lt;/span&gt; 
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/h2&gt; 
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="text-gray-500 text-lg"&gt; 
                        <br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima officia consequatur adipisci tenetur repudiandae rerum quos.                                         
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/p&gt; 
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp; &lt;/div&gt; 
                        <br />
                        &nbsp;&nbsp;&lt;/div&gt;
                        <br />
                        &lt;/section&gt;
                    </div>                
                </div>
            </div>            
            
        </div>

        <div class="bg-white px-4 py-5 sm:px-6">
            <div class="flex items-center justify-between">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Hero Option 2
                </h3>
                <button onclick="copyCode('#code-2')" class="bg-gray-200 hover:bg-gray-300 px-3 py-1 rounded-lg text-gray-800">
                    Copy Code
                </button>
            </div>
            <div id="code-2" class="mt-2 bg-gray-100 p-2 rounded-lg text-gray-800">
                &lt;nav class="bg-gray-800 p-4"&gt;
                <br>
                &nbsp;&nbsp;&lt;div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 flex justify-between items-center"&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="relative flex items-center justify-between w-full"&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="flex-1 w-full flex items-center justify-between sm:items-stretch sm:justify-start"&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="flex justify-center align-middle items-center"&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="./index.html" class="flex-shrink-0 text-white font-bold"&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;𝐴𝑢𝑟𝑜𝑟𝑎 𝐶𝑜𝑚𝐾𝑖𝑡
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/a&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="bg-gray-900 text-white py-2 px-4 rounded-lg shadow-md"&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="../components.html" class="font-medium hover:text-gray-300"&gt;🡰&lt;/a&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
                <br>
                &nbsp;&nbsp;&lt;/div&gt;
                <br>
                &lt;/nav&gt;
            </div>
        </div>

        <div class="bg-white px-4 py-5 sm:px-6">
            <div class="flex items-center justify-between">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Hero Option 3
                </h3>
                <button onclick="copyCode('#code-3')" class="bg-gray-200 hover:bg-gray-300 px-3 py-1 rounded-lg text-gray-800">
                    Copy Code
                </button>
            </div>
            <div id="code-3" class="mt-2 bg-gray-100 p-2 rounded-lg text-gray-800">
                &lt;nav class="bg-gray-800 p-4"&gt;
                <br>
                &nbsp;&nbsp;&lt;div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 flex justify-between items-center"&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="relative flex items-center justify-between w-full"&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="flex-1 w-full flex items-center justify-between sm:items-stretch sm:justify-start"&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="flex justify-center align-middle items-center"&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="./index.html" class="flex-shrink-0 text-white font-bold"&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;𝐴𝑢𝑟𝑜𝑟𝑎 𝐶𝑜𝑚𝐾𝑖𝑡
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/a&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="bg-gray-900 text-white py-2 px-4 rounded-lg shadow-md"&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="../components.html" class="font-medium hover:text-gray-300"&gt;🡰&lt;/a&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
                <br>
                &nbsp;&nbsp;&lt;/div&gt;
                <br>
                &lt;/nav&gt;
            </div>
        </div>

    </section>
    
    <script src="../js/app.js"></script>
</body>
</html>