<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Welcome to Aurora ComKit - the ultimate collection of user interface components and design resources for developers and designers. Explore our library of customizable components, templates, and tools to build beautiful, responsive websites and web applications.">
        <meta name="keywords" content="aurora comkit, website design, web development, tailwindcss, components, user experience">
        <meta name="author" content="Lewis Ushindi">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Navbar-Aurora ComKit</title>
        <link rel="shortcut icon" href="https://i.pinimg.com/474x/ea/a8/b1/eaa8b1a091b211a141bbefe0e054f42b.jpg" type="image/x-icon">
        <link rel="stylesheet" href="./css/app.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="/dist/output.css" rel="stylesheet">
    </head> 
<body>
    <section>
        <nav class="bg-gray-800 p-4">
            <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 flex justify-between items-center">
                <div class="relative flex items-center justify-between w-full">
                    <div class="flex-1 w-full flex items-center justify-between sm:items-stretch sm:justify-start">                    
                        <div class="flex justify-center align-middle items-center">
                            <a href="../index.html" class="flex-shrink-0 text-white font-bold text-xl">
                                𝐴𝑢𝑟𝑜𝑟𝑎 𝐶𝑜𝑚𝐾𝑖𝑡
                            </a>
                        </div>                    
                    </div>                
                </div>
                <div class="bg-gray-900 text-white py-2 px-4 rounded-lg shadow-md">
                    <a href="../components.html" class="font-medium hover:text-gray-300 text-2xl">🡰</a>
                </div>
            </div>        
        </nav>
        
        <h1 class="text-4xl text-center uppercase my-4">Navbar Blocks</h1>

        <div class="bg-white p-4 rounded-lg shadow-xl"> 
            <!-- copy to clipboard -->
            <div class="flex justify-end bg-gray-800 p-3 hover:bg-gray-700 hover:text-white transition-colors duration-300">
                <button id="copy-btn" onclick="copyCode('#code-1')" class="bg-slate-600 text-white hover:bg-slate-900 transition-colors duration-300 px-3 py-2 rounded-md flex items-center">
                  <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9l-5-5-5 5M17 9l0 13-12 0 0-13M7 15l5 5 5-5"></path>
                  </svg>
                  Copy Code
                </button>
            </div>

            <div class="flex flex-col md:flex-row">              
              <div id="code-1" class="w-full bg-gray-100 p-4 rounded-lg text-gray-800">                 
                    <div class="container my-4 px-6 mx-auto">                
                        <section class="mb-3 text-gray-800 text-center">
                            <!-- add this to load hamburger menu on small screens -->
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                            <div class="bg-gray-800 px-2 text-white">
                                <div class="container mx-auto flex flex-col md:flex-row justify-between items-center py-4">
                                    <div class="flex justify-between w-full px-1">
                                        <a href="" class="text-xl font-bold">Aurora</a>
                                        <button class="text-white block sm:hidden" onclick="myFunction()">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                    </div>
                                  
                                    <nav class="hidden sm:block w-full text-right" id="myNav">
                                        <a href="" class="block mt-4 sm:inline-block sm:mt-0 mx-4 text-lg font-medium">Home</a>
                                        <a href="" class="block mt-4 sm:inline-block sm:mt-0 mx-4 text-lg font-medium">News</a>
                                        <a href="" class="block mt-4 sm:inline-block sm:mt-0 mx-4 text-lg font-medium">Contact</a>                                        
                                    </nav>
                                                                       
                                </div>                             
                              
                              <script>
                                function myFunction() {
                                  var x = document.getElementById("myNav");
                                  if (x.classList.contains("hidden")) {
                                    x.classList.remove("hidden");
                                  } else {
                                    x.classList.add("hidden");
                                  }
                                }
                              </script>
                            </div>
                              
                        </section> 
                    </div>
              </div>
            </div>
        </div>

        <div class="bg-white p-4 rounded-lg shadow-xl">
             <!-- copy to clipboard -->
            <div class="flex justify-end bg-gray-800 p-3 hover:bg-gray-700 hover:text-white transition-colors duration-300">
                <button id="copy-btn" onclick="copyCode('#code-2')" class="bg-slate-600 text-white hover:bg-slate-900 transition-colors duration-300 px-3 py-2 rounded-md flex items-center">
                  <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9l-5-5-5 5M17 9l0 13-12 0 0-13M7 15l5 5 5-5"></path>
                  </svg>
                  Copy Code
                </button>
            </div>
                       
            <div class="flex flex-col md:flex-row">              
              <div id="code-2" class="w-full bg-gray-100 p-4 rounded-lg text-gray-800">                 
                    <div class="container my-4 px-6 mx-auto">                
                        <section class="mb-3 text-gray-800">
                            <!-- add this to load hamburger menu on small screens -->
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                            <div class="bg-white px-2 text-gray-800">
                                <div class="container mx-auto flex flex-col md:flex-row justify-between items-center py-4">
                                    <div class="flex justify-between w-full px-1">
                                        <a href="" class="text-xl font-bold">Aurora</a>
                                        <button class=" block sm:hidden" onclick="myFunction()">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                    </div>
                                  
                                    <nav class="hidden sm:flex sm:justify-between sm:items-center w-full text-right" id="myNav2">
                                        <div>
                                            <a href="" class="block mt-4 sm:inline-block sm:mt-0 mx-4 text-lg font-medium">Home</a>
                                            <a href="" class="block mt-4 sm:inline-block sm:mt-0 mx-4 text-lg font-medium">News</a>
                                        </div>
                                        <div class="bg-transparent md:bg-gray-900 md:text-white p-1 rounded-md" >
                                            <a href="" class="block mt-4 sm:inline-block sm:mt-0 mx-4 text-lg font-medium">Sign In</a> 
                                        </div>                                       
                                                                              
                                    </nav>
                                                                       
                                </div>                             
                              
                              <script>
                                function myFunction() {
                                  var x = document.getElementById("myNav2");
                                  if (x.classList.contains("hidden")) {
                                    x.classList.remove("hidden");
                                  } else {
                                    x.classList.add("hidden");
                                  }
                                }
                              </script>
                            </div>
                        </section> 
                    </div>
              </div>
            </div>
        </div>

        <div class="bg-white p-4 rounded-lg shadow-xl">
            <!-- copy to clipboard -->
            <div class="flex justify-end bg-gray-800 p-3 hover:bg-gray-700 hover:text-white transition-colors duration-300">
                <button id="copy-btn" onclick="copyCode('#code-3')" class="bg-slate-600 text-white hover:bg-slate-900 transition-colors duration-300 px-3 py-2 rounded-md flex items-center">
                  <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9l-5-5-5 5M17 9l0 13-12 0 0-13M7 15l5 5 5-5"></path>
                  </svg>
                  Copy Code
                </button>
            </div>
                      
           <div class="flex flex-col md:flex-row">              
             <div id="code-3" class="w-full bg-gray-100 p-4 rounded-lg text-gray-800">                 
                   <div class="container my-4 px-6 mx-auto">                
                       <section class="mb-3 text-gray-800">
                           <!-- add this to load hamburger menu on small screens -->
                           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                           <div class="bg-white px-2 text-gray-800">
                               <div class="container mx-auto flex flex-col md:flex-row justify-between items-center py-4">
                                   <div class="flex w-full px-1 items-center">
                                        <button class=" block sm:hidden" onclick="myFunction()">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                       <a href="" class="text-xl text-yellow-600 ml-2 font-bold">
                                        <!-- logo here -->
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
                                        </svg>
                                          
                                       </a>                                       
                                   </div>
                                 
                                   <nav class="hidden sm:flex sm:justify-between sm:items-center w-full text-right" id="myNav3">
                                       
                                        <a href="" class="block mt-4 sm:inline-block sm:mt-0 mx-4  font-medium">Home</a>
                                        <a href="" class="block mt-4 sm:inline-block sm:mt-0 mx-4  font-medium">News</a>
                                        <a href="" class="block mt-4 sm:inline-block sm:mt-0 mx-4  font-medium">Get started</a>
                                                                       
                                   </nav>
                                                                      
                               </div>                             
                             
                             <script>
                               function myFunction() {
                                 var x = document.getElementById("myNav3");
                                 if (x.classList.contains("hidden")) {
                                   x.classList.remove("hidden");
                                 } else {
                                   x.classList.add("hidden");
                                 }
                               }
                             </script>
                           </div>
                       </section> 
                   </div>
             </div>
           </div>
       </div>
        
    </section>
    
    <script src="../js/app.js"></script>
</body>
</html>